In [2]:
# import libraries
import csv
import pandas as pd
# cleaning library 
#import janitor

In [3]:
file_path = 'data/clean_data.csv'
df = pd.read_csv(file_path)
df.head()

,Job Title,Company Name,Location,Date,Job Link,Company Rating,Min Salary,Max Salary
0,Associate Stop Loss Underwriter,The Insurance Center\n2.7,"Onalaska, WI",30d+,https://www.glassdoor.com/partner/jobListing.h...,2.7,57.0,84.0
1,Manager of Data Science,"Nuvative, Inc.\n3.4","Wichita, KS",30d+,https://www.glassdoor.com/partner/jobListing.h...,3.4,106.0,157.0
2,Senior Data Product Manager,ProviderTrust\n4.2,"Nashville, TN",11d,https://www.glassdoor.com/partner/jobListing.h...,4.2,105.0,141.0
3,Oncology Nurse Navigator,Inizio Engage\n3.6,"Portland, OR",1d,https://www.glassdoor.com/partner/jobListing.h...,3.6,90.0,113.0
4,Head of Artificial Intelligence – Americas Region,Covestro\n3.6,"Pittsburgh, PA",30d+,https://www.glassdoor.com/partner/jobListing.h...,3.6,89.0,148.0

In [4]:
#checking if any non listed company rating docs have it in the compnay name
no_rating_df = df[df['Company Rating'].isnull()]
no_rating_df

,Job Title,Company Name,Location,Date,Job Link,Company Rating,Min Salary,Max Salary
5,IT Manager,Western Welding Academy,"Gillette, WY",26d,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN,NaN
6,"Data Center Services Technician - IT, Crypto M...",Growler Mining,"Tuscaloosa, AL",30d+,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN,NaN
7,Data Center Construction Coordinator,Applied Digital,"Ellendale, ND",23d,https://www.glassdoor.com/partner/jobListing.h...,NaN,58.0,80.0
9,Principal Data Scientist,HelloGov,"Tampa, FL",13d,https://www.glassdoor.com/partner/jobListing.h...,NaN,166.0,245.0
15,Sr. Digital Signal Processing Engineer,Cherish Health,"Boston, MA",18d,https://www.glassdoor.com/partner/jobListing.h...,NaN,153.0,200.0
17,Senior Predictive Modeler,Sitewise Analytics,"Dallas, TX",30d+,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN,NaN
18,Data Manager (NetSuite ERP) & Website Content ...,"Capitol Scientific, Inc.","Austin, TX",10d,https://www.glassdoor.com/partner/jobListing.h...,NaN,100.0,110.0
19,Senior Software Engineer,Science On Call,"Minneapolis, MN",4d,https://www.glassdoor.com/partner/jobListing.h...,NaN,120.0,150.0
25,Violence Prevention Data Coordinator,Chester Community Coalition,"Chester, PA",30d+,https://www.glassdoor.com/partner/jobListing.h...,NaN,40.0,46.0
29,Data Scientist - I,OrusGroup,"Washington, DC",17d,https://www.glassdoor.com/partner/jobListing.h...,NaN,105.0,130.0
30,"Data Scientist - AI, NLP, Python, PyTorch, Ten...",Galen Technology Solutions,"Denver, CO",2d,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN,NaN
36,$45/hr - AI Trainer - Computer Science Focused...,"Ami Arroyo, Inc.",United States,7d,https://www.glassdoor.com/partner/jobListing.h...,NaN,45.0,0.0
43,Sr. Data Science Engineer,Cherish Health,"Boston, MA",18d,https://www.glassdoor.com/partner/jobListing.h...,NaN,140.0,200.0
45,Data Scientist TS/SCI On-site,Data Machines,"Reston, VA",5d,https://www.glassdoor.com/partner/jobListing.h...,NaN,75.0,125.0
50,Sr. Data Analyst,Elevated Industrial Solutions,"Denver, CO",30d+,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN,NaN
53,Machine Learning Engineer (Perception and Plan...,BlueSpace.ai,"Emeryville, CA",30d+,https://www.glassdoor.com/partner/jobListing.h...,NaN,125.0,200.0
56,First ML Hire - Senior ML/NLP Data Scientist a...,EJJ HealthTech,Remote,2d,https://www.glassdoor.com/partner/jobListing.h...,NaN,175.0,200.0
62,Senior Statistician,NextGen Federal Systems,"Scott Air Force Base, IL",30d+,https://www.glassdoor.com/partner/jobListing.h...,NaN,90.0,95.0
64,Logistics Data Analyst,Line Drive Trucking,"Anaheim, CA",16d,https://www.glassdoor.com/partner/jobListing.h...,NaN,75.0,95.0
68,Head of Retention Marketing,12100 Collective,Remote,30d+,https://www.glassdoor.com/partner/jobListing.h...,NaN,125.0,200.0
71,Sr. Data Scientist,CTG,"Durham, NC",30d+,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN,NaN
72,Sr. Data Architect - Healthcare,The American Association for Thoracic Surgery,Remote,10d,https://www.glassdoor.com/partner/jobListing.h...,NaN,120.0,150.0
76,Software Engineer for AI Training Data (Python),G2i Inc,Remote,17d,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN,NaN
81,Bilingual (English/Spanish) AI Engineer,Confidential,Remote,7d,https://www.glassdoor.com/partner/jobListing.h...,NaN,150.0,250.0
90,Software Developer,"RF Code, Inc.","Austin, TX",12d,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN,NaN
91,Principal Statistical Programmer,Clinvia LLC,Remote,30d+,https://www.glassdoor.com/partner/jobListing.h...,NaN,130.0,175.0
94,Marketing Campaign Analyst,Gohagan & Company,"Chicago, IL",6d,https://www.glassdoor.com/partner/jobListing.h...,NaN,60.0,70.0
101,Software Engineer for AI Training Data (JavaSc...,G2i Inc,Remote,10d,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN,NaN
150,Community Hub Data Analyst,Greater Health Now,"Kennewick, WA",3d,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN,NaN
155,Data Science Automation Engineer,Realign LLC,"Juno Beach, FL",2d,https://www.glassdoor.com/partner/jobListing.h...,NaN,86.0,117.0
162,AI/ML Senior System Engineer,NextGen Federal Systems,United States,30d+,https://www.glassdoor.com/partner/jobListing.h...,NaN,160.0,180.0
181,Data Analyst,"Baselice & Associates, Inc.",Remote,10d,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN,NaN
183,$40/hr - $50/hr - AI Trainer - Legal Specialis...,"Ami Arroyo, Inc.",United States,5d,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN,NaN
227,Manufacturing Production Supervisor,Resident,"Jeffersonville, IN",30d+,https://www.glassdoor.com/partner/jobListing.h...,NaN,68.0,71.0
241,Data Visualization Analyst,EMI Advisors LLC,"Bethesda, MD",3d,https://www.glassdoor.com/partner/jobListing.h...,NaN,61.0,125.0
251,Customer Success Manager,"Tax Reduction Company Inc,",Remote,30d+,https://www.glassdoor.com/partner/jobListing.h...,NaN,39.0,60.0
292,Data Visualization Analyst,EMI Advisors LLC,"Bethesda, MD",3d,https://www.glassdoor.com/partner/jobListing.h...,NaN,61.0,125.0
344,Data Science Manager - Analytics & Insights,SAGCLAY,"Ann Arbor, MI",3d,https://www.glassdoor.com/partner/jobListing.h...,NaN,160.0,180.0
383,Data Visualization Analyst,EMI Advisors LLC,"Bethesda, MD",3d,https://www.glassdoor.com/partner/jobListing.h...,NaN,61.0,125.0
384,AI/ML Senior System Engineer,NextGen Federal Systems,United States,30d+,https://www.glassdoor.com/partner/jobListing.h...,NaN,160.0,180.0
428,Statistician,Nassau University Medical Center,"Lakeview, Nassau, NY",2d,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN,NaN
446,Data Visualization Analyst,EMI Advisors LLC,"Bethesda, MD",3d,https://www.glassdoor.com/partner/jobListing.h...,NaN,61.0,125.0
477,Director of Data Science,"ITS Solutions USA, LLC",Remote,2d,https://www.glassdoor.com/partner/jobListing.h...,NaN,135.0,150.0
478,"Vice President, Data Science",Insagic,"New York, NY",2d,https://www.glassdoor.com/partner/jobListing.h...,NaN,160.0,269.0
481,Robotics Engineer (AI),Alpha Net Consulting,United States,4d,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN,NaN
483,Statistician,Sciome LLC,"Research Triangle Park, NC",30d+,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN,NaN

In [5]:
#removing the ratings from the company names
df['Company Name'] = df['Company Name'].str.split('\n').str[0]
df

,Job Title,Company Name,Location,Date,Job Link,Company Rating,Min Salary,Max Salary
0,Associate Stop Loss Underwriter,The Insurance Center,"Onalaska, WI",30d+,https://www.glassdoor.com/partner/jobListing.h...,2.7,57.0,84.0
1,Manager of Data Science,"Nuvative, Inc.","Wichita, KS",30d+,https://www.glassdoor.com/partner/jobListing.h...,3.4,106.0,157.0
2,Senior Data Product Manager,ProviderTrust,"Nashville, TN",11d,https://www.glassdoor.com/partner/jobListing.h...,4.2,105.0,141.0
3,Oncology Nurse Navigator,Inizio Engage,"Portland, OR",1d,https://www.glassdoor.com/partner/jobListing.h...,3.6,90.0,113.0
4,Head of Artificial Intelligence – Americas Region,Covestro,"Pittsburgh, PA",30d+,https://www.glassdoor.com/partner/jobListing.h...,3.6,89.0,148.0
...,...,...,...,...,...,...,...,...
480,Cloud Administrator,GM Financial,"Arlington, TX",25d,https://www.glassdoor.com/partner/jobListing.h...,4.0,NaN,NaN
481,Robotics Engineer (AI),Alpha Net Consulting,United States,4d,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN,NaN
482,Tchr of English- Newark School of Data Science...,Newark Board of Education,"Newark, NJ",30d+,https://www.glassdoor.com/partner/jobListing.h...,3.3,62.0,107.0
483,Statistician,Sciome LLC,"Research Triangle Park, NC",30d+,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN,NaN
484,Quantitative Analytics Manager - Data Modeling...,Freddie Mac,"McLean, VA",5d,https://www.glassdoor.com/partner/jobListing.h...,3.6,140.0,210.0

In [6]:
# Dropping the Job Link column and creating a new DataFrame
df = df.drop('Job Link', axis=1)

# Display the cleaned DataFrame
df.head()

,Job Title,Company Name,Location,Date,Company Rating,Min Salary,Max Salary
0,Associate Stop Loss Underwriter,The Insurance Center,"Onalaska, WI",30d+,2.7,57.0,84.0
1,Manager of Data Science,"Nuvative, Inc.","Wichita, KS",30d+,3.4,106.0,157.0
2,Senior Data Product Manager,ProviderTrust,"Nashville, TN",11d,4.2,105.0,141.0
3,Oncology Nurse Navigator,Inizio Engage,"Portland, OR",1d,3.6,90.0,113.0
4,Head of Artificial Intelligence – Americas Region,Covestro,"Pittsburgh, PA",30d+,3.6,89.0,148.0

In [7]:
# Remove 'd' and 'd+' from the days_listed column
df['Date'] = df['Date'].str.replace('d\+?', '', regex=True)
df['Date'] = df['Date'].str.replace('24h', '1', regex=False)
# Display the updated DataFrame
df.head()

,Job Title,Company Name,Location,Date,Company Rating,Min Salary,Max Salary
0,Associate Stop Loss Underwriter,The Insurance Center,"Onalaska, WI",30,2.7,57.0,84.0
1,Manager of Data Science,"Nuvative, Inc.","Wichita, KS",30,3.4,106.0,157.0
2,Senior Data Product Manager,ProviderTrust,"Nashville, TN",11,4.2,105.0,141.0
3,Oncology Nurse Navigator,Inizio Engage,"Portland, OR",1,3.6,90.0,113.0
4,Head of Artificial Intelligence – Americas Region,Covestro,"Pittsburgh, PA",30,3.6,89.0,148.0

In [8]:
# Renaming the column
df.rename(columns={'Date': 'Days Listed'}, inplace=True)

# Display the updated DataFrame
df.head()

,Job Title,Company Name,Location,Days Listed,Company Rating,Min Salary,Max Salary
0,Associate Stop Loss Underwriter,The Insurance Center,"Onalaska, WI",30,2.7,57.0,84.0
1,Manager of Data Science,"Nuvative, Inc.","Wichita, KS",30,3.4,106.0,157.0
2,Senior Data Product Manager,ProviderTrust,"Nashville, TN",11,4.2,105.0,141.0
3,Oncology Nurse Navigator,Inizio Engage,"Portland, OR",1,3.6,90.0,113.0
4,Head of Artificial Intelligence – Americas Region,Covestro,"Pittsburgh, PA",30,3.6,89.0,148.0

In [9]:
df = df[df['Max Salary'].notnull() & df['Min Salary'].notnull()]
df.head()

,Job Title,Company Name,Location,Days Listed,Company Rating,Min Salary,Max Salary
0,Associate Stop Loss Underwriter,The Insurance Center,"Onalaska, WI",30,2.7,57.0,84.0
1,Manager of Data Science,"Nuvative, Inc.","Wichita, KS",30,3.4,106.0,157.0
2,Senior Data Product Manager,ProviderTrust,"Nashville, TN",11,4.2,105.0,141.0
3,Oncology Nurse Navigator,Inizio Engage,"Portland, OR",1,3.6,90.0,113.0
4,Head of Artificial Intelligence – Americas Region,Covestro,"Pittsburgh, PA",30,3.6,89.0,148.0

In [10]:
# adding a average column by averaging the min and max
df['Average Salary'] = df[['Min Salary', 'Max Salary']].mean(axis=1)
df.head()

,Job Title,Company Name,Location,Days Listed,Company Rating,Min Salary,Max Salary,Average Salary
0,Associate Stop Loss Underwriter,The Insurance Center,"Onalaska, WI",30,2.7,57.0,84.0,70.5
1,Manager of Data Science,"Nuvative, Inc.","Wichita, KS",30,3.4,106.0,157.0,131.5
2,Senior Data Product Manager,ProviderTrust,"Nashville, TN",11,4.2,105.0,141.0,123.0
3,Oncology Nurse Navigator,Inizio Engage,"Portland, OR",1,3.6,90.0,113.0,101.5
4,Head of Artificial Intelligence – Americas Region,Covestro,"Pittsburgh, PA",30,3.6,89.0,148.0,118.5

In [11]:
df=df[df['Company Rating'].notnull()]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 348 entries, 0 to 484
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Job Title       348 non-null    object
 1   Company Name    348 non-null    object
 2   Location        348 non-null    object
 3   Days Listed     348 non-null    object
 4   Company Rating  348 non-null    float64
 5   Min Salary      348 non-null    float64
 6   Max Salary      348 non-null    float64
 7   Average Salary  348 non-null    float64
dtypes: float64(4), object(4)
memory usage: 24.5+ KB

In [12]:
# Create a 'remote' column by checking if 'Remote' is in either 'Location' or 'Job Title'
df['Remote'] = df['Location'].str.contains('Remote', case=False, regex=True) | df['Job Title'].str.contains('Remote', case=False, regex=True)
df

,Job Title,Company Name,Location,Days Listed,Company Rating,Min Salary,Max Salary,Average Salary,Remote
0,Associate Stop Loss Underwriter,The Insurance Center,"Onalaska, WI",30,2.7,57.0,84.0,70.5,False
1,Manager of Data Science,"Nuvative, Inc.","Wichita, KS",30,3.4,106.0,157.0,131.5,False
2,Senior Data Product Manager,ProviderTrust,"Nashville, TN",11,4.2,105.0,141.0,123.0,False
3,Oncology Nurse Navigator,Inizio Engage,"Portland, OR",1,3.6,90.0,113.0,101.5,False
4,Head of Artificial Intelligence – Americas Region,Covestro,"Pittsburgh, PA",30,3.6,89.0,148.0,118.5,False
...,...,...,...,...,...,...,...,...,...
474,Principal Data Analyst,Citizens,"Irving, TX",1,3.6,110.0,160.0,135.0,False
476,"Manager, Data Science Platform Engineering",Dave Inc.,Remote,30,4.0,169.0,271.0,220.0,True
479,Analytics Solution Owner,Network Coverage,Remote,30,4.4,75.0,125.0,100.0,True
482,Tchr of English- Newark School of Data Science...,Newark Board of Education,"Newark, NJ",30,3.3,62.0,107.0,84.5,False
484,Quantitative Analytics Manager - Data Modeling...,Freddie Mac,"McLean, VA",5,3.6,140.0,210.0,175.0,False

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 348 entries, 0 to 484
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Job Title       348 non-null    object
 1   Company Name    348 non-null    object
 2   Location        348 non-null    object
 3   Days Listed     348 non-null    object
 4   Company Rating  348 non-null    float64
 5   Min Salary      348 non-null    float64
 6   Max Salary      348 non-null    float64
 7   Average Salary  348 non-null    float64
 8   Remote          348 non-null    bool
dtypes: bool(1), float64(4), object(4)
memory usage: 24.8+ KB

In [14]:
#creating City and State column and splitting Location
df[["City","State"]] = df["Location"].str.split(', ', n=1, expand=True)
df.head()

,Job Title,Company Name,Location,Days Listed,Company Rating,Min Salary,Max Salary,Average Salary,Remote,City,State
0,Associate Stop Loss Underwriter,The Insurance Center,"Onalaska, WI",30,2.7,57.0,84.0,70.5,False,Onalaska,WI
1,Manager of Data Science,"Nuvative, Inc.","Wichita, KS",30,3.4,106.0,157.0,131.5,False,Wichita,KS
2,Senior Data Product Manager,ProviderTrust,"Nashville, TN",11,4.2,105.0,141.0,123.0,False,Nashville,TN
3,Oncology Nurse Navigator,Inizio Engage,"Portland, OR",1,3.6,90.0,113.0,101.5,False,Portland,OR
4,Head of Artificial Intelligence – Americas Region,Covestro,"Pittsburgh, PA",30,3.6,89.0,148.0,118.5,False,Pittsburgh,PA

In [15]:
# Dropping the Location column and creating a new DataFrame
clean_df = df.drop('Location', axis=1)

# Display the cleaned DataFrame
clean_df.head()

,Job Title,Company Name,Days Listed,Company Rating,Min Salary,Max Salary,Average Salary,Remote,City,State
0,Associate Stop Loss Underwriter,The Insurance Center,30,2.7,57.0,84.0,70.5,False,Onalaska,WI
1,Manager of Data Science,"Nuvative, Inc.",30,3.4,106.0,157.0,131.5,False,Wichita,KS
2,Senior Data Product Manager,ProviderTrust,11,4.2,105.0,141.0,123.0,False,Nashville,TN
3,Oncology Nurse Navigator,Inizio Engage,1,3.6,90.0,113.0,101.5,False,Portland,OR
4,Head of Artificial Intelligence – Americas Region,Covestro,30,3.6,89.0,148.0,118.5,False,Pittsburgh,PA

In [16]:
clean_df

,Job Title,Company Name,Days Listed,Company Rating,Min Salary,Max Salary,Average Salary,Remote,City,State
0,Associate Stop Loss Underwriter,The Insurance Center,30,2.7,57.0,84.0,70.5,False,Onalaska,WI
1,Manager of Data Science,"Nuvative, Inc.",30,3.4,106.0,157.0,131.5,False,Wichita,KS
2,Senior Data Product Manager,ProviderTrust,11,4.2,105.0,141.0,123.0,False,Nashville,TN
3,Oncology Nurse Navigator,Inizio Engage,1,3.6,90.0,113.0,101.5,False,Portland,OR
4,Head of Artificial Intelligence – Americas Region,Covestro,30,3.6,89.0,148.0,118.5,False,Pittsburgh,PA
...,...,...,...,...,...,...,...,...,...,...
474,Principal Data Analyst,Citizens,1,3.6,110.0,160.0,135.0,False,Irving,TX
476,"Manager, Data Science Platform Engineering",Dave Inc.,30,4.0,169.0,271.0,220.0,True,Remote,None
479,Analytics Solution Owner,Network Coverage,30,4.4,75.0,125.0,100.0,True,Remote,None
482,Tchr of English- Newark School of Data Science...,Newark Board of Education,30,3.3,62.0,107.0,84.5,False,Newark,NJ
484,Quantitative Analytics Manager - Data Modeling...,Freddie Mac,5,3.6,140.0,210.0,175.0,False,McLean,VA

In [17]:
# Create a function to categorize jobs
def categorize_job(title):
    title = title.lower()
    if 'analyst' in title:
        return 'Analyst'
    elif 'analytics' in title:
        return 'Analyst'   
    elif 'engineer' in title:
        return 'Engineer'
    elif 'scientist' in title:
        return 'Scientist'
    elif 'science' in title:
        return 'Scientist'
    elif 'manager' in title:
        return 'Manager'
    else:
        return 'Other'

# Apply the function to create a new column
clean_df['Job Category'] = clean_df['Job Title'].apply(categorize_job)
clean_df

,Job Title,Company Name,Days Listed,Company Rating,Min Salary,Max Salary,Average Salary,Remote,City,State,Job Category
0,Associate Stop Loss Underwriter,The Insurance Center,30,2.7,57.0,84.0,70.5,False,Onalaska,WI,Other
1,Manager of Data Science,"Nuvative, Inc.",30,3.4,106.0,157.0,131.5,False,Wichita,KS,Scientist
2,Senior Data Product Manager,ProviderTrust,11,4.2,105.0,141.0,123.0,False,Nashville,TN,Manager
3,Oncology Nurse Navigator,Inizio Engage,1,3.6,90.0,113.0,101.5,False,Portland,OR,Other
4,Head of Artificial Intelligence – Americas Region,Covestro,30,3.6,89.0,148.0,118.5,False,Pittsburgh,PA,Other
...,...,...,...,...,...,...,...,...,...,...,...
474,Principal Data Analyst,Citizens,1,3.6,110.0,160.0,135.0,False,Irving,TX,Analyst
476,"Manager, Data Science Platform Engineering",Dave Inc.,30,4.0,169.0,271.0,220.0,True,Remote,None,Engineer
479,Analytics Solution Owner,Network Coverage,30,4.4,75.0,125.0,100.0,True,Remote,None,Analyst
482,Tchr of English- Newark School of Data Science...,Newark Board of Education,30,3.3,62.0,107.0,84.5,False,Newark,NJ,Scientist
484,Quantitative Analytics Manager - Data Modeling...,Freddie Mac,5,3.6,140.0,210.0,175.0,False,McLean,VA,Analyst

In [18]:
# if 'City' has the value "Remote" copy it to 'State'
clean_df.loc[clean_df['City'] == 'Remote', 'State'] = 'Remote'
clean_df.head()

,Job Title,Company Name,Days Listed,Company Rating,Min Salary,Max Salary,Average Salary,Remote,City,State,Job Category
0,Associate Stop Loss Underwriter,The Insurance Center,30,2.7,57.0,84.0,70.5,False,Onalaska,WI,Other
1,Manager of Data Science,"Nuvative, Inc.",30,3.4,106.0,157.0,131.5,False,Wichita,KS,Scientist
2,Senior Data Product Manager,ProviderTrust,11,4.2,105.0,141.0,123.0,False,Nashville,TN,Manager
3,Oncology Nurse Navigator,Inizio Engage,1,3.6,90.0,113.0,101.5,False,Portland,OR,Other
4,Head of Artificial Intelligence – Americas Region,Covestro,30,3.6,89.0,148.0,118.5,False,Pittsburgh,PA,Other

In [19]:
# drop rows where city is "United States"
clean_df = clean_df[clean_df['City'] != 'United States']
clean_df

,Job Title,Company Name,Days Listed,Company Rating,Min Salary,Max Salary,Average Salary,Remote,City,State,Job Category
0,Associate Stop Loss Underwriter,The Insurance Center,30,2.7,57.0,84.0,70.5,False,Onalaska,WI,Other
1,Manager of Data Science,"Nuvative, Inc.",30,3.4,106.0,157.0,131.5,False,Wichita,KS,Scientist
2,Senior Data Product Manager,ProviderTrust,11,4.2,105.0,141.0,123.0,False,Nashville,TN,Manager
3,Oncology Nurse Navigator,Inizio Engage,1,3.6,90.0,113.0,101.5,False,Portland,OR,Other
4,Head of Artificial Intelligence – Americas Region,Covestro,30,3.6,89.0,148.0,118.5,False,Pittsburgh,PA,Other
...,...,...,...,...,...,...,...,...,...,...,...
474,Principal Data Analyst,Citizens,1,3.6,110.0,160.0,135.0,False,Irving,TX,Analyst
476,"Manager, Data Science Platform Engineering",Dave Inc.,30,4.0,169.0,271.0,220.0,True,Remote,Remote,Engineer
479,Analytics Solution Owner,Network Coverage,30,4.4,75.0,125.0,100.0,True,Remote,Remote,Analyst
482,Tchr of English- Newark School of Data Science...,Newark Board of Education,30,3.3,62.0,107.0,84.5,False,Newark,NJ,Scientist
484,Quantitative Analytics Manager - Data Modeling...,Freddie Mac,5,3.6,140.0,210.0,175.0,False,McLean,VA,Analyst

In [20]:
manager_df = clean_df[clean_df['Job Category'] == 'Manager']
manager_df.count()

Job Title         10
Company Name      10
Days Listed       10
Company Rating    10
Min Salary        10
Max Salary        10
Average Salary    10
Remote            10
City              10
State             10
Job Category      10
dtype: int64

In [21]:
def categorize_rating(rating):
    if pd.isna(rating):
        return None
    elif 0 <= rating < 1.1:
        return '0-1'
    elif 1.1 <= rating < 2.1:
        return '1-2'
    elif 2.1 <= rating < 3.5:
        return '2-3'
    elif 3.5 <= rating <= 5:
        return '4-5'
    else:
        return None
# Apply the function to create a new column 'Rating Range'
clean_df.loc[:, 'Rating Range'] = clean_df['Company Rating'].apply(categorize_rating)

C:\Users\chris\AppData\Local\Temp\ipykernel_30020\3223027407.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df.loc[:, 'Rating Range'] = clean_df['Company Rating'].apply(categorize_rating)

In [42]:
clean_df

,Job Title,Company Name,Days Listed,Company Rating,Min Salary,Max Salary,Average Salary,Remote,City,State,Job Category,Rating Range
0,Associate Stop Loss Underwriter,The Insurance Center,30,2.7,57.0,84.0,70.5,False,Onalaska,WI,Other,2-3
1,Manager of Data Science,"Nuvative, Inc.",30,3.4,106.0,157.0,131.5,False,Wichita,KS,Scientist,2-3
2,Senior Data Product Manager,ProviderTrust,11,4.2,105.0,141.0,123.0,False,Nashville,TN,Manager,4-5
3,Oncology Nurse Navigator,Inizio Engage,1,3.6,90.0,113.0,101.5,False,Portland,OR,Other,4-5
4,Head of Artificial Intelligence – Americas Region,Covestro,30,3.6,89.0,148.0,118.5,False,Pittsburgh,PA,Other,4-5
...,...,...,...,...,...,...,...,...,...,...,...,...
474,Principal Data Analyst,Citizens,1,3.6,110.0,160.0,135.0,False,Irving,TX,Analyst,4-5
476,"Manager, Data Science Platform Engineering",Dave Inc.,30,4.0,169.0,271.0,220.0,True,Remote,Remote,Engineer,4-5
479,Analytics Solution Owner,Network Coverage,30,4.4,75.0,125.0,100.0,True,Remote,Remote,Analyst,4-5
482,Tchr of English- Newark School of Data Science...,Newark Board of Education,30,3.3,62.0,107.0,84.5,False,Newark,NJ,Scientist,2-3
484,Quantitative Analytics Manager - Data Modeling...,Freddie Mac,5,3.6,140.0,210.0,175.0,False,McLean,VA,Analyst,4-5