In [70]:
# import libraries
import csv
import pandas as pd
# cleaning library 
#import janitor

In [71]:
file_path = 'data/clean_data.csv'
df = pd.read_csv(file_path)
df.head()

,Job Title,Company Name,Location,Date,Job Link,Company Rating,Min Salary,Max Salary
0,Associate Stop Loss Underwriter,The Insurance Center\n2.7,"Onalaska, WI",30d+,https://www.glassdoor.com/partner/jobListing.h...,2.7,57.0,84.0
1,Manager of Data Science,"Nuvative, Inc.\n3.4","Wichita, KS",30d+,https://www.glassdoor.com/partner/jobListing.h...,3.4,106.0,157.0
2,Senior Data Product Manager,ProviderTrust\n4.2,"Nashville, TN",11d,https://www.glassdoor.com/partner/jobListing.h...,4.2,105.0,141.0
3,Oncology Nurse Navigator,Inizio Engage\n3.6,"Portland, OR",1d,https://www.glassdoor.com/partner/jobListing.h...,3.6,90.0,113.0
4,Head of Artificial Intelligence – Americas Region,Covestro\n3.6,"Pittsburgh, PA",30d+,https://www.glassdoor.com/partner/jobListing.h...,3.6,89.0,148.0

In [72]:
#creating City and State column and splitting Location
df[["City","State"]] = df["Location"].str.split(', ', n=1, expand=True)
df.head()

,Job Title,Company Name,Location,Date,Job Link,Company Rating,Min Salary,Max Salary,City,State
0,Associate Stop Loss Underwriter,The Insurance Center\n2.7,"Onalaska, WI",30d+,https://www.glassdoor.com/partner/jobListing.h...,2.7,57.0,84.0,Onalaska,WI
1,Manager of Data Science,"Nuvative, Inc.\n3.4","Wichita, KS",30d+,https://www.glassdoor.com/partner/jobListing.h...,3.4,106.0,157.0,Wichita,KS
2,Senior Data Product Manager,ProviderTrust\n4.2,"Nashville, TN",11d,https://www.glassdoor.com/partner/jobListing.h...,4.2,105.0,141.0,Nashville,TN
3,Oncology Nurse Navigator,Inizio Engage\n3.6,"Portland, OR",1d,https://www.glassdoor.com/partner/jobListing.h...,3.6,90.0,113.0,Portland,OR
4,Head of Artificial Intelligence – Americas Region,Covestro\n3.6,"Pittsburgh, PA",30d+,https://www.glassdoor.com/partner/jobListing.h...,3.6,89.0,148.0,Pittsburgh,PA

In [73]:
# Dropping the Location column and creating a new DataFrame
clean_df = df.drop('Location', axis=1)

# Display the cleaned DataFrame
clean_df.head()

,Job Title,Company Name,Date,Job Link,Company Rating,Min Salary,Max Salary,City,State
0,Associate Stop Loss Underwriter,The Insurance Center\n2.7,30d+,https://www.glassdoor.com/partner/jobListing.h...,2.7,57.0,84.0,Onalaska,WI
1,Manager of Data Science,"Nuvative, Inc.\n3.4",30d+,https://www.glassdoor.com/partner/jobListing.h...,3.4,106.0,157.0,Wichita,KS
2,Senior Data Product Manager,ProviderTrust\n4.2,11d,https://www.glassdoor.com/partner/jobListing.h...,4.2,105.0,141.0,Nashville,TN
3,Oncology Nurse Navigator,Inizio Engage\n3.6,1d,https://www.glassdoor.com/partner/jobListing.h...,3.6,90.0,113.0,Portland,OR
4,Head of Artificial Intelligence – Americas Region,Covestro\n3.6,30d+,https://www.glassdoor.com/partner/jobListing.h...,3.6,89.0,148.0,Pittsburgh,PA

In [74]:
# Remove 'd' and 'd+' from the days_listed column
clean_df['Date'] = df['Date'].str.replace('d\+?', '', regex=True)

# Display the updated DataFrame
clean_df.head()

,Job Title,Company Name,Date,Job Link,Company Rating,Min Salary,Max Salary,City,State
0,Associate Stop Loss Underwriter,The Insurance Center\n2.7,30,https://www.glassdoor.com/partner/jobListing.h...,2.7,57.0,84.0,Onalaska,WI
1,Manager of Data Science,"Nuvative, Inc.\n3.4",30,https://www.glassdoor.com/partner/jobListing.h...,3.4,106.0,157.0,Wichita,KS
2,Senior Data Product Manager,ProviderTrust\n4.2,11,https://www.glassdoor.com/partner/jobListing.h...,4.2,105.0,141.0,Nashville,TN
3,Oncology Nurse Navigator,Inizio Engage\n3.6,1,https://www.glassdoor.com/partner/jobListing.h...,3.6,90.0,113.0,Portland,OR
4,Head of Artificial Intelligence – Americas Region,Covestro\n3.6,30,https://www.glassdoor.com/partner/jobListing.h...,3.6,89.0,148.0,Pittsburgh,PA

In [75]:
# Renaming the column
clean_df.rename(columns={'Date': 'Days Listed'}, inplace=True)

# Display the updated DataFrame
clean_df.head()

,Job Title,Company Name,Days Listed,Job Link,Company Rating,Min Salary,Max Salary,City,State
0,Associate Stop Loss Underwriter,The Insurance Center\n2.7,30,https://www.glassdoor.com/partner/jobListing.h...,2.7,57.0,84.0,Onalaska,WI
1,Manager of Data Science,"Nuvative, Inc.\n3.4",30,https://www.glassdoor.com/partner/jobListing.h...,3.4,106.0,157.0,Wichita,KS
2,Senior Data Product Manager,ProviderTrust\n4.2,11,https://www.glassdoor.com/partner/jobListing.h...,4.2,105.0,141.0,Nashville,TN
3,Oncology Nurse Navigator,Inizio Engage\n3.6,1,https://www.glassdoor.com/partner/jobListing.h...,3.6,90.0,113.0,Portland,OR
4,Head of Artificial Intelligence – Americas Region,Covestro\n3.6,30,https://www.glassdoor.com/partner/jobListing.h...,3.6,89.0,148.0,Pittsburgh,PA

In [76]:
# Dropping the Job Link column and creating a new DataFrame
clean_df = clean_df.drop('Job Link', axis=1)

# Display the cleaned DataFrame
clean_df.head()

,Job Title,Company Name,Days Listed,Company Rating,Min Salary,Max Salary,City,State
0,Associate Stop Loss Underwriter,The Insurance Center\n2.7,30,2.7,57.0,84.0,Onalaska,WI
1,Manager of Data Science,"Nuvative, Inc.\n3.4",30,3.4,106.0,157.0,Wichita,KS
2,Senior Data Product Manager,ProviderTrust\n4.2,11,4.2,105.0,141.0,Nashville,TN
3,Oncology Nurse Navigator,Inizio Engage\n3.6,1,3.6,90.0,113.0,Portland,OR
4,Head of Artificial Intelligence – Americas Region,Covestro\n3.6,30,3.6,89.0,148.0,Pittsburgh,PA

In [77]:
clean_df = clean_df[clean_df['Max Salary'].notnull() & clean_df['Min Salary'].notnull()]
clean_df.head()

,Job Title,Company Name,Days Listed,Company Rating,Min Salary,Max Salary,City,State
0,Associate Stop Loss Underwriter,The Insurance Center\n2.7,30,2.7,57.0,84.0,Onalaska,WI
1,Manager of Data Science,"Nuvative, Inc.\n3.4",30,3.4,106.0,157.0,Wichita,KS
2,Senior Data Product Manager,ProviderTrust\n4.2,11,4.2,105.0,141.0,Nashville,TN
3,Oncology Nurse Navigator,Inizio Engage\n3.6,1,3.6,90.0,113.0,Portland,OR
4,Head of Artificial Intelligence – Americas Region,Covestro\n3.6,30,3.6,89.0,148.0,Pittsburgh,PA

In [78]:
# adding a average column by averaging the min and max
clean_df['Average Salary'] = clean_df[['Min Salary', 'Max Salary']].mean(axis=1)
clean_df

,Job Title,Company Name,Days Listed,Company Rating,Min Salary,Max Salary,City,State,Average Salary
0,Associate Stop Loss Underwriter,The Insurance Center\n2.7,30,2.7,57.0,84.0,Onalaska,WI,70.5
1,Manager of Data Science,"Nuvative, Inc.\n3.4",30,3.4,106.0,157.0,Wichita,KS,131.5
2,Senior Data Product Manager,ProviderTrust\n4.2,11,4.2,105.0,141.0,Nashville,TN,123.0
3,Oncology Nurse Navigator,Inizio Engage\n3.6,1,3.6,90.0,113.0,Portland,OR,101.5
4,Head of Artificial Intelligence – Americas Region,Covestro\n3.6,30,3.6,89.0,148.0,Pittsburgh,PA,118.5
...,...,...,...,...,...,...,...,...,...
477,Director of Data Science,"ITS Solutions USA, LLC",2,NaN,135.0,150.0,Remote,None,142.5
478,"Vice President, Data Science",Insagic,2,NaN,160.0,269.0,New York,NY,214.5
479,Analytics Solution Owner,Network Coverage\n4.4,30,4.4,75.0,125.0,Remote,None,100.0
482,Tchr of English- Newark School of Data Science...,Newark Board of Education\n3.3,30,3.3,62.0,107.0,Newark,NJ,84.5
484,Quantitative Analytics Manager - Data Modeling...,Freddie Mac\n3.6,5,3.6,140.0,210.0,McLean,VA,175.0

In [79]:
#checking if any non listed company rating docs have it in the compnay name
no_rating_df = clean_df[clean_df['Company Rating'].isnull()]
no_rating_df

,Job Title,Company Name,Days Listed,Company Rating,Min Salary,Max Salary,City,State,Average Salary
7,Data Center Construction Coordinator,Applied Digital,23,NaN,58.0,80.0,Ellendale,ND,69.0
9,Principal Data Scientist,HelloGov,13,NaN,166.0,245.0,Tampa,FL,205.5
15,Sr. Digital Signal Processing Engineer,Cherish Health,18,NaN,153.0,200.0,Boston,MA,176.5
18,Data Manager (NetSuite ERP) & Website Content ...,"Capitol Scientific, Inc.",10,NaN,100.0,110.0,Austin,TX,105.0
19,Senior Software Engineer,Science On Call,4,NaN,120.0,150.0,Minneapolis,MN,135.0
25,Violence Prevention Data Coordinator,Chester Community Coalition,30,NaN,40.0,46.0,Chester,PA,43.0
29,Data Scientist - I,OrusGroup,17,NaN,105.0,130.0,Washington,DC,117.5
36,$45/hr - AI Trainer - Computer Science Focused...,"Ami Arroyo, Inc.",7,NaN,45.0,0.0,United States,None,22.5
43,Sr. Data Science Engineer,Cherish Health,18,NaN,140.0,200.0,Boston,MA,170.0
45,Data Scientist TS/SCI On-site,Data Machines,5,NaN,75.0,125.0,Reston,VA,100.0
53,Machine Learning Engineer (Perception and Plan...,BlueSpace.ai,30,NaN,125.0,200.0,Emeryville,CA,162.5
56,First ML Hire - Senior ML/NLP Data Scientist a...,EJJ HealthTech,2,NaN,175.0,200.0,Remote,None,187.5
62,Senior Statistician,NextGen Federal Systems,30,NaN,90.0,95.0,Scott Air Force Base,IL,92.5
64,Logistics Data Analyst,Line Drive Trucking,16,NaN,75.0,95.0,Anaheim,CA,85.0
68,Head of Retention Marketing,12100 Collective,30,NaN,125.0,200.0,Remote,None,162.5
72,Sr. Data Architect - Healthcare,The American Association for Thoracic Surgery,10,NaN,120.0,150.0,Remote,None,135.0
81,Bilingual (English/Spanish) AI Engineer,Confidential,7,NaN,150.0,250.0,Remote,None,200.0
91,Principal Statistical Programmer,Clinvia LLC,30,NaN,130.0,175.0,Remote,None,152.5
94,Marketing Campaign Analyst,Gohagan & Company,6,NaN,60.0,70.0,Chicago,IL,65.0
155,Data Science Automation Engineer,Realign LLC,2,NaN,86.0,117.0,Juno Beach,FL,101.5
162,AI/ML Senior System Engineer,NextGen Federal Systems,30,NaN,160.0,180.0,United States,None,170.0
227,Manufacturing Production Supervisor,Resident,30,NaN,68.0,71.0,Jeffersonville,IN,69.5
241,Data Visualization Analyst,EMI Advisors LLC,3,NaN,61.0,125.0,Bethesda,MD,93.0
251,Customer Success Manager,"Tax Reduction Company Inc,",30,NaN,39.0,60.0,Remote,None,49.5
292,Data Visualization Analyst,EMI Advisors LLC,3,NaN,61.0,125.0,Bethesda,MD,93.0
344,Data Science Manager - Analytics & Insights,SAGCLAY,3,NaN,160.0,180.0,Ann Arbor,MI,170.0
383,Data Visualization Analyst,EMI Advisors LLC,3,NaN,61.0,125.0,Bethesda,MD,93.0
384,AI/ML Senior System Engineer,NextGen Federal Systems,30,NaN,160.0,180.0,United States,None,170.0
446,Data Visualization Analyst,EMI Advisors LLC,3,NaN,61.0,125.0,Bethesda,MD,93.0
477,Director of Data Science,"ITS Solutions USA, LLC",2,NaN,135.0,150.0,Remote,None,142.5
478,"Vice President, Data Science",Insagic,2,NaN,160.0,269.0,New York,NY,214.5

In [80]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 379 entries, 0 to 484
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Job Title       379 non-null    object
 1   Company Name    379 non-null    object
 2   Days Listed     379 non-null    object
 3   Company Rating  348 non-null    float64
 4   Min Salary      379 non-null    float64
 5   Max Salary      379 non-null    float64
 6   City            379 non-null    object
 7   State           339 non-null    object
 8   Average Salary  379 non-null    float64
dtypes: float64(4), object(5)
memory usage: 29.6+ KB

In [81]:
#removing the ratings from the company names
clean_df['Company Name'] = clean_df['Company Name'].str.split('\n').str[0]
clean_df

,Job Title,Company Name,Days Listed,Company Rating,Min Salary,Max Salary,City,State,Average Salary
0,Associate Stop Loss Underwriter,The Insurance Center,30,2.7,57.0,84.0,Onalaska,WI,70.5
1,Manager of Data Science,"Nuvative, Inc.",30,3.4,106.0,157.0,Wichita,KS,131.5
2,Senior Data Product Manager,ProviderTrust,11,4.2,105.0,141.0,Nashville,TN,123.0
3,Oncology Nurse Navigator,Inizio Engage,1,3.6,90.0,113.0,Portland,OR,101.5
4,Head of Artificial Intelligence – Americas Region,Covestro,30,3.6,89.0,148.0,Pittsburgh,PA,118.5
...,...,...,...,...,...,...,...,...,...
477,Director of Data Science,"ITS Solutions USA, LLC",2,NaN,135.0,150.0,Remote,None,142.5
478,"Vice President, Data Science",Insagic,2,NaN,160.0,269.0,New York,NY,214.5
479,Analytics Solution Owner,Network Coverage,30,4.4,75.0,125.0,Remote,None,100.0
482,Tchr of English- Newark School of Data Science...,Newark Board of Education,30,3.3,62.0,107.0,Newark,NJ,84.5
484,Quantitative Analytics Manager - Data Modeling...,Freddie Mac,5,3.6,140.0,210.0,McLean,VA,175.0